################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorSessionManagementWithRedis/.vs/BlazorSessionManagementWithRedis/v17
/BlazorSessionManagementWithRedis/BlazorSessionManagementWithRedis/obj
/BlazorSessionManagementWithRedis/BlazorSessionManagementWithRedis/bin/Debug/net6.0
